@font-face {
  font-family: "Gotham-Bold";
  src: url(https://minisitios.ripley.cl/minisitios/estatico/fonts/font-gotham/Gotham-Bold.woff);
}

@font-face {
  font-family: "Gotham-light";
  src: url(https://minisitios.ripley.cl/minisitios/estatico/fonts/font-gotham/Gotham-Light.woff);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

#container-card-info {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#form-card {
  display: flex;
  max-width: 700px;
  margin: auto;
  flex-direction: column;
  gap: 10px;
  min-width: 350px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-image: url(../images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  gap: 15px;
}
.inputs-card {
  display: flex;
  width: 100%;
}

.card-front {
  position: unset;
  top: 0;
}
.texto_number {
  position: absolute;
  top: 100px;
  left: 100px;
}

.texto-card {
  position: absolute;
  top: 150px;
  left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
}

.card-back {
  position: relative;
  top: 0;
}

.container-text-year-month {
  display: flex;
}

.text_card {
  font-size: 1.2em;
  color: #fff;
  font-family: "Gotham-Bold";
}

.texto_cvc {
  position: relative;
  left: 330px;
  bottom: 140px;
}

/* ESTILOS INPUTS */
.data-card {
  display: flex;
  justify-content: space-between;
}

.data-card #info-month,
.data-card #info-year {
  width: 100px;
  border-radius: 5px;
}

.inputs-card input {
  border-radius: 4px;
  border: 2px solid gray;
  height: 25px;
  width: 100%;
}
#button-confirm {
  background-color: hsl(278, 68%, 11%);
  color: white;
  width: 100%;
  height: 40px;
  margin: auto;
  cursor: pointer;
  border-radius: 5px;
}
#button-confirm:hover {
  background-color: hsl(278, 68%, 17%);
}

p {
  font-family: "Gotham-light";
  margin: 0;
  font-size: 1.2em;
  /* color: #fff; */
}

@media (min-width: 768px) {
  #container-card-info {
    display: flex;
    flex-direction: row;
  }
  .card-front {
    position: relative;
    left: 50px;
    top: 0;
  }
  .card-back {
    position: relative;
    left: 130px;
    top: 0;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    background-image: url(../images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    gap: 15px;
  }
  .inputs-card {
    display: flex;
    width: 55%;
  }
}
